img {
 margin-left: 100px;
 height: 100px;
 
}
body {
    margin: 0;
    background-image: url()}
.navigator {
    display: flex;
    background-color: red;
    height: 46.5px;
    color: white;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    z-index: 10;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

.navbar li {
    
    cursor: pointer;
}

.more {
    position: absolute;
    top: 46.5px;
    right: 10%;
    opacity: 0;
}

.button:last-child:hover .more {
    opacity: 1;
}

.more li {
    background-color: rgb(29, 30, 30);
    padding: 10px;
}

.search {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.search:hover {
    background-color: red;  
}

i {
    transition: 0.2s;
}

.search:hover i {
    scale: 1.3;
}

li:hover {
    background-color: rgb(46, 50, 48);
}

#home {
    background-image: url(./img/chicago.jpg);
    width: 100%;
    height: 100vh;
    padding: 0;
    background-size: cover;
    color: #ffffff;
}

#home h1 {
    padding-top: 500px;
    padding-left: 700px;
}

#home p {
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .regular-slider {
      width: 100%;
      height: 100%;
      margin-top: 100px;
      z-index: 2 !important;
      position: relative;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
    height: 200px;

  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
    align-self: start;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  section {
    width: 50px;
  }
  #members {
    color: black;
  }
 #members a {
  text-decoration: none;
  display: block;
 }
